:root{
    background: #121212;
    padding:  4rem 4rem 4rem 4rem;

}

@font-face {
    font-family: 'yekan';
    src: url('BYekan.eot');
    src: local('b Yekan'), url('BYekan.woff') format('woff'), url('BYekan.ttf') format('truetype'), url('BYekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
   }

body {
    font-family: 'IRANSans' !important;
    font-weight: 300;
    direction: rtl;
    background-color: #121212;
}

ul{
    list-style: none;
}

/*-------------------------header*/

.header{
    display: flex;
    gap: 0;
    width: 100%;
    height: 50px;
   justify-content: right;
   
}
.header_logo img{
    display: flex;
    padding: 1rem 4rem  0  0;
    width: 2rem;
    height: 2rem;
    

}

.header_nav{
    display: flex;
    gap: 3rem;
}

.header_nav > li{
list-style: none;
justify-content: flex-start;
font-size: 14px;
font-weight: 400;
line-height: 21.91px;
text-align: left;
}

.header_nav li a{
    text-decoration: none;
    color: #FFFFFF;
   
}

.header_nav-search{
    display: flex;
    justify-content: flex-start;
    padding-right: 30rem;
    padding-top: 0; 
    
}

.header_nav-search div{
    border-bottom: 1px solid #FFFFFF33;
    margin-top: 0;
    padding-bottom: 0;
    height: 30px;
}

.header_nav-search input{
    background-color: #121212;
    color: #FFFFFF33;
    border: none;   
    margin: 0;
    padding: 0;  
}

.header_nav-search img{
    width: 1.3rem;
    height: 1.3rem;  
}

/*-------------------page_intro_right*/


.page_intro{
    display: flex;
    gap: 0;
    padding: 2rem  5rem 0 5rem;
}

.page_intro_right{
    margin: 0;
    border: 1px solid;
    border-image-source: linear-gradient(225.53deg, rgba(255, 255, 255, 0.2) 1.7%, rgba(0, 0, 0, 0) 96.61%);
    background: linear-gradient(226.94deg, rgba(255, 255, 255, 0.02) 0.98%, rgba(255, 255, 255, 0) 98.71%);
    border-radius: 1rem;
    width: 25rem;
    height: 27rem;
    padding-left: 2rem;
    padding-right: 2rem;   
}

h3{
    padding-right: 2rem;
    color: #454545; 
    font-family: 'yekan' !important; 
}
h1{
    color: #FFFFFF;
    padding-right: 2rem;
    margin: 0;
    font-size: 3.2rem;
    font-family: 'yekan' !important;
}

.page_intro-para{
    color: #BABABA;
    text-align: justify;
    font-family: 'yekan' !important;
}

/*-----------------page_intro_left*/
.page_intro_left--img {
    padding-top: 2rem;
    margin-right: 0;
    
}

.page_intro_left--img img{
  padding-left: 0;
  gap: 0;
  width: 50rem;
}

/*-----------------------------------page_intro--social*/
.page_intro--social{
    width: 40rem;
    height: 10rem;
    border: 1px solid;
    border-image-source: linear-gradient(225.53deg, rgba(255, 255, 255, 0.2) 1.7%, rgba(0, 0, 0, 0) 96.61%);
    background: linear-gradient(226.94deg, rgba(255, 255, 255, 0.02) 0.98%, rgba(255, 255, 255, 0) 98.71%);
    border-radius: 1rem;
    margin-right: 28rem;
}

.page_intro--social-titly{
    display: flex;
    justify-content: center;
}

.page_intro--social-titly h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'yekan' !important;
}

.page_intro--social--icon{
    width: 3rem;
    height: 3rem;
   display: flex;
   justify-self: start;
   gap: 3rem;
   padding-right: 3rem;
}

/*------------------------page_intro--lain-->*/

.page_intro--list-titly h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'yekan' !important;
    padding: 0;
    text-align: center;
}

.new_posts{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 4rem 2rem 4rem;
  
}
.new_post_card{
    border: 1px solid;
    border-image-source: linear-gradient(225.53deg, rgba(255, 255, 255, 0.2) 1.7%, rgba(0, 0, 0, 0) 96.61%);
    background: linear-gradient(226.94deg, rgba(255, 255, 255, 0.02) 0.98%, rgba(255, 255, 255, 0) 98.71%);
    border-radius: 1rem;
    width: 16rem;
    height: auto;
}
.new_post_pic{
    padding: 0;
    transition: all 0.3s ease-in;
    top: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
  
}
.new_post_card_icon{
    padding: 3rem;
    position: absolute;
}
.new_post_card_icon img{
    padding: 1rem;
    border-radius: 50%;
}
.new_post_card_icon:hover{
    transform: scale(1.1);
}
.new_post_body p{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'yekan' !important;
    padding: 1rem;
    margin: 0;    
}
.new_post_guest{
    color: #A1A1A1;
    margin: 0;
    float: right;
    font-weight: 400;
    font-size: 18px; 
    position: absolute;
}
.new_post_time{
    color: #A1A1A1;
    margin: 0;
    float: left;
    color: #777;
    font-size: 14px;
    padding: 0;  
    position: relative;
}
/*----------------------------intro_lis3--*/
.epizods h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'yekan' !important;
    text-align: center;
}
.epizod_grid{
    display: grid;
    grid-template-columns: 30rem 30rem;
    justify-content: center;
    margin:  0;
    gap: 1rem;
}
.epizod1{
    display: flex;
    border: 1px solid;
    border-image-source: linear-gradient(225.53deg, rgba(255, 255, 255, 0.2) 1.7%, rgba(0, 0, 0, 0) 96.61%);
    background: linear-gradient(226.94deg, rgba(255, 255, 255, 0.02) 0.98%, rgba(255, 255, 255, 0) 98.71%);
    border-radius: 1rem;
    width: 30rem;
    height: 8rem;
}
.right-epizod{
    display: flex;
    gap: 0;
}
.right-epizod h4{
    color: #FFFFFF;
    font-size: 1rem;
    padding: 1rem 1rem;
    margin: 2rem 1rem;
}
.right-epizod img{
    width: 8rem;
    height: 8rem;
   margin:0.5rem 0;
}
.left-epizod h4 {
    color: #FFFFFF;
    font-size: 1rem;
    padding: 0 1rem;
}
.left-epizod p{
    color: #575757;
}
.view h3{
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'yekan' !important;
    text-align: center;
    padding: 0;
}
/*----------------------------page-intro--protection--*/
.page_intro--Protection{
    width: 40rem;
    height: 10rem;
    border: 1px solid;
    border-image-source: linear-gradient(225.53deg, rgba(255, 255, 255, 0.2) 1.7%, rgba(0, 0, 0, 0) 96.61%);
    background: linear-gradient(226.94deg, rgba(255, 255, 255, 0.02) 0.98%, rgba(255, 255, 255, 0) 98.71%);
    border-radius: 1rem;
    margin-right: 28rem;
}
.page_intro--protection--titly h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'yekan' !important;
    padding: 0;
    text-align: center;
}
.page_intro--protection--icon{
    display: flex;
    justify-self: start;
    gap: 3rem;
    padding-right: 3rem;
    object-fit: cover;
}
/*----------------------------short video box--*/
.short_video_boxs h2{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'yekan' !important;
    padding: 0;
    text-align: center;
}
.short_video_box{
    display: grid;
    grid-template-columns: 30rem 30rem;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.short_video_box-list{
    display: flex;
    justify-content: center;
    margin:  3rem 0 0 0;
    gap: 1rem;
}
.short_video_box-list img{
    height: 15rem;
    width: 30rem;
    padding: 0;
}
.short_video_box-list img{
    position: absolute;
}
.short_video_box-list-titly h3{
    position: relative;
}
.short_video_box-list-titly h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'yekan' !important;
    padding: 5rem  0  0 0;  
    margin-left: 12rem;
}
.icon{
    position: absolute;
}
.icon img{
    position: relative;
    width: 4rem;
    height: 4rem;
    padding: 5rem;
    margin-right: 20rem;
}
.icon img:hover{
    transform: scale(1.1);
}

.view_2 h3{
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'yekan' !important;
    text-align: center;
    padding: 3rem 0 0 0;
}
/*----------------------------join us--*/
.join_us{
    display: flex;
    gap: 0;
    padding: 2rem ;
    margin-right: 17rem;
}

.join_us_box img{
    width: 25rem;
    height: 13rem;
}

.join_us_box_titly{
    width: 25rem;
    height: 13rem;
    opacity: 0px;
    background: linear-gradient(226.94deg, rgba(255, 255, 255, 0.02) 0.98%, rgba(255, 255, 255, 0) 98.71%);
    border: 1px solid;
    border-radius: 1rem;
   border-image-source: linear-gradient(225.53deg, rgba(255, 255, 255, 0.2) 1.7%, rgba(0, 0, 0, 0) 96.61%);
   padding: 1rem  2rem;
 
}
.join_us_box_titly h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: 'yekan' !important;
    text-align: center;
    padding: 0;
}
.join_us_box_titly p{  
    overflow: hidden;
    color: #A1A1A1;
}
.join_us_box_titly input[type="email"]{
    width: 17rem;
    height: 3rem;
    border-radius: 8px 0px 0px 8px;
    border: none;
    opacity: 0px;
    background: #1A1A1A;
    color: #FFFFFF33;
    text-align: end;
    padding: 0 0 0 1rem;
    margin: 0;
}

.join_us_box_titly input[type="ثبت"]{
    width: 6rem;
    height: 3rem;
    background: #090909;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0;
    margin:0;
}

/*----------------------footer*/
.footer_content{
    display: flex;
    border-top: 3px solid #3C3C3C;
    padding: 3rem 4rem;   
}
.footer_content--info{
    width: 25rem;
    height: 13rem;
    opacity: 0px;
   padding: 0 2rem;
   position: relative;
}
.footer_content--info img{
    display: flex;
    width: 4rem;
    height: 4rem;
    padding-top: 2rem;
    position: absolute;
}
.footer_content--info h3{
    color: #FFFFFF;
    text-align: center;
    padding: 0 0 0 0 ;
    font-size: 2rem;
    top: 6rem;
}
.footer_content--info--para{
    width: 25rem;
    height: auto;
    color: #BABABA;
    text-align: justify;
    font-family: 'yekan' !important;
}

.footer_content--info--link--titly{
    color: #FFFFFF;
    font-size: 2rem;
    padding-right: 8rem;
}

.footer_content--info--link ul li{
    color: #FFFFFF;
    font-size: 1rem;
    padding: 0.5rem 5rem;
    font-family: 'IRANSans' !important;
}

.footer_author{
    padding: 1rem 3rem;
}

.page_intro--social--icon h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 0;
}

.page_intro--social--icon--imag img{
    padding: 2rem 1rem;
}
.footer_Network h3{
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 0 3rem;
}
.footer_Network--imag img{
    padding: 0 1.5rem;
}

.Next_footer {
    text-align: center;
    color: #3A3A3A;
    font-family: 'IRANSans' !important;
    font-size: 0.8rem;

}


